<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件化</title>
</head>
<body>
	<ol id="app">
		<todo-list v-for="item in lists" v-bind:todo="item"></todo-list>
	</ol>
<script src="./vue.js"></script>
<script>
	/**
	 * 这里写的是一个简单的组件之间的通信。
	 */
	//注册一个组件,这里要放在new Vue的上面，否则不能执行。
	Vue.component("todo-list",{
		props:['todo'],
		template:"<li>{{todo.text}}</li>"
	})
	new Vue({
		el:"#app",
		data:{
			lists:[{
				text:"writting"
			},
			{
				text:"reading"
			},{
				text:"eating"
			}]
		},
	})
	
</script>
</body>
</html>