<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Document</title>
    <style>
        .multicol {
            column-count: 3;
            column-gap: 1em;
            column-rule: 1px dotted black;
        }
    </style>
</head>

<body>
    <div class="multicol">
        梦是美好的，往往现实是残酷的。如果人生都像梦一样美好，人与人之间也如诗一样的深情，那该多好！人生如梦，深情如诗，是世间最理想的境界，也是我们向往的追求！ 一般人一下达不到梦幻的境界，也走不出如诗的深情。只能徘徊在人生的十字路口，绞尽脑汁，竭尽全力地去追求那些美好事物，或是人生的最高境界。谁都想一鸣惊人，一步登天？可未来很长，道路坎坷泥泞，只能一部分人可以快速摘取，而另一部分人则需要花费更大的气力，花费更大的时间才能争取。 有句话叫，欲速则不达！既然没有大的能耐，没有好的运气和天赋，就老老实实去埋头苦干，等时机成熟了，条件达到了，岂不是就到了自己向往的境地。在没有达到愿望之前，只能设施，只能铺路，只能容忍，只能实干，只能观望，只能等待-----
        愿我们人生如梦，愿你我深情如诗！ 梦可以一晚上做成，诗可以一会儿炒作，但人生大事难做，你我深情难交。需要时间，需要魄力，需要勇气，需要实干。毛泽东同志说过，成功，难就难在“用心”二字，用心专注某事，或许就会成功；不用心专业，不埋头苦干，则可能就会栽跟头。谈何人生如梦，深情如诗？ 梦是美好的，但愿我们人人做好梦，人人事业有成，生活愉快！诗也是深情的，更是色彩斑斓的，愿我们人与人之间和谐美好，少点计较，多点关爱，如诗一般，深情耐味，甜美悠远！ 梦幻般的人生，是璀璨的人生，像春风拂过我们的心扉，久久在心中飘逸！我们幻想有梦的人生，幻想与梦相依相偎，一起走在浪漫的田野，一起闯荡未来的人生。如诗的情谊，也像秋风
        拂过脸颊一样，凉爽而不寒，深情而厚意，长长久久，卿卿我我，与日月同辉，与山河共鸣，在人生中起起伏伏，一起度过人间的惊涛骇浪，一起奔向未来的彼岸！ 人生如梦，在于人的现实编织；深情如诗，在于人与人的精心交往。一旦梦实现了，人也有了深厚的情感，社会就变得和谐了，天下也就太平了。没有矛盾，没有私心杂念，心情愉快了，人间也美丽了。你我也就少了冲突，多了厚德，就会产生爱的火花，就会有深情的友谊。这样，岂不是一个更美的世界吗？ 愿我们人生如梦，愿你我深情如诗！
    </div>
</body>

</html>