*{
    padding:0;
    margin: 0;
}
.clearfix:after,.clearfix:before{
    display:table;
    content:""
}
.clearfix:after{
    clear:both;
    overflow: hidden;
}
.demo{
    width:250px;
    border:1px solid #ccc;
    padding:10px;
    margin:20px auto;
}
li{
    list-style: none outside none;
    float:left;
    height:20px;
    line-height: 20px;
    width:20px;
    border-radius:10px;
    text-align:center;
    background:#f36;
    color:green;
    margin-left:5px;
}
.demo *{
    background:orange;
}
/*.item.important{
    color:#fff;
    background:red;
}*/
.item{
    background: green;
    color:#000;
}

/*层次选择器*/
body{
    width:300px;
    margin:0 auto;
}
div{
    margin:5px;
    padding:5px;
    border:1px solid #ccc;
}
/*div后代选择器*/
div div{
    /*background:green;*/
}
body>div{
    /*background:#ccc;*/
}
/*h1>span{
    color:red;
}*/
/*这里是选择的p元素*/
h1 span+p{
   color:green;
}
div.active ~ div{
    /*background: red;*/
}
.cont{
    width:200px;
    margin:5px;
    padding:5px;
    border:1px solid #ccc;
    /*background: green;*/
}
.wrap{
    border:1px solid red;
    background: red;
}
/*按钮的样式*/
.btn{
    padding:5px 10px;
}
.btn:link{
    background:red;
}
.btn:visited{
    color:red;
}
.btn:hover{
    background:green;
}
.btn:active{
    border-radius:20px;
}
.panel{
    width:200px;
    height:300px;
    border:1px solid red;
}
.panel:target{
    background:green;
}
/*语言伪类选择器*/
:lang(no){
    quotes:"~" "~";
}
.UIBtn:disabled{
    background: green;
}
.wrappp:not(){
    color:red;
}
.pcontent p:first-child::first-letter{
    float:left;/*加上这个就是让首字母下沉，不加的话是不会下沉的*/
    color:red;
    font:75px/65px Georgia;
}

