  * {
      padding: 0;
      margin: 0;
  }

  html,
  body {
      background: #ebeaea;
      font-size: 12px;
      font-family: Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  }

  .detail-wrap .cont {
      padding: 5px 10px;
      box-sizing: content-box;
  }

  .detail-wrap .header {
      font-size: 1.4rem;
      padding-bottom: 5px;
      border-bottom: 1px solid #a59292;
      position: relative;
  }

  .cont .tltle {
      font-size: 1.4rem;
      font-weight: 800
  }

  .header .back {
      position: absolute;
      right: 8px;
      top: 7px;
      padding: 6px 16px;
      border: none;
      background: #8cbacc;
      border-radius: 3px;
      cursor: pointer;
  }

  .header .back:hover {
      background: #558496;
      color: #fff;
  }

  .header .back:focus {
      outline: none;
  }



  .cont div {
      line-height: 50px;
      font-size: 1.2rem;
  }

  .cont div p.item {
      min-width: 280px;
      float: left;
      width: 48%;
  }


  .cont div input {
      width: 160px;
      height: 30px;
      border-radius: 5px;
      outline: none;
      /*margin-left: 10px;*/
      text-indent: 1rem;
      font-family: "Verdana", serif;
      background: #ebeaea;
      border: 1px solid #9b9797;
      transition: border-color 500ms;
  }

  .cont div input:focus {
      border-color: #4493da;
  }

  .cont div label {
      display: inline-block;
      width: 90px;
      text-align: center;
  }

  .cont div input[name="sex"] {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin-right: 3px
  }

  .cont div input[name="isadmin"] {
      width: 20px;
      height: 20px;
      vertical-align: middle;
  }

  .pos {
      position: relative;
      /*用于日期插件的定位*/
  }

  .cont div .birthday {
      line-height: 30px;
      vertical-align: middle;
      display: inline-block;
      width: 200px;
      height: 30px;
      border-radius: 5px;
      outline: none;
      margin-left: 10px;
      text-indent: 1rem;
      font-family: "Verdana", serif;
      background: #ebeaea;
      border: 1px solid #9b9797;
      transition: border-color 500ms;
      cursor: pointer;
  }

  .cont div .birthday:hover {
      border-color: #4493da;
  }

  .cont div textarea {
      width: 300px;
      height: 130px;
      vertical-align: top;
      border-radius: 5px;
      outline: none;
      text-indent: 1rem;
      font-size: 1.2rem;
      padding: 5px;
      line-height: 1.7rem;
      font-family: "Verdana", serif;
      background: #ebeaea;
      transition: border-color 500ms;
  }

  .cont div textarea:focus {
      border-color: #4493da;
  }