<header>
    <div class="head-top">
        <h2>eternally</h2>
        <div class="nav">
            <ul>
                <li><a href="#">日志分类</a></li>
                <li><a href="#">图书杂志</a></li>
                <li><a href="#">关于我</a></li>
                <li><a href="#">其他</a></li>
            </ul>
        </div>
    </div>
    <div class="head-main"></div>
</header>