/*#ulid1{
    margin-top:200px;
}*/
#ulid1 li{
    list-style:none;
    border-radius:10px;
    margin-left:5px;
    float:left;
    width:20px;
    height:20px;
    line-height:20px;
    background:#ccc;
    text-align:center;
}
.clearfix:after { 
    content:"\200B"; 
    display:block; 
    height:0; 
    clear:both; 
} 
.clearfix {*zoom:1;}/*IE/7/6*/